body
{
    color:black;
    background: aqua;
}
.heading
{
    width: 80%;
    font-size: 30px;
}
#camera
{
    border: 4px dashed black;
    width: 375px;
    height: 325px;
}
.name_of_objects, #result_object_name , #result_object_accuracy
{
    color: rgb(185, 95, 125);
}